@using Resources;

<div id="modal_ask_confirm" class="w3-modal">
    <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:400px">

        <br>
        <span class="w3-button w3-xlarge w3-transparent w3-display-topright close-modal-conf-ask" title="Close Modal">×</span>            

        <div class="w3-container w3-center" style="min-height:150px">
            <div class="w3-display-middle" id="ask_content"></div>
        </div> 
        <div id="removing_user"></div>      

        <div class="w3-container w3-border-top w3-padding-16 w3-light-grey w3-center">
            <button type="button" class="w3-button w3-theme" id="remove_data">@Resource.Btn_yes</button>
            <button type="button" class="w3-button w3-red close-modal-conf-ask">@Resource.Btn_no</button>
        </div>

    </div>
</div> 
